.button {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 15;
}

.button:hover {
	-fx-background-color: #F7F9FA;
}

.button:pressed {
	-fx-background-color: rgb(238, 241, 244);	
}

.tab {
	-fx-background-color: #FFFFFF;
}

.tab:hover {
	-fx-background-color: #F7F9FA;
}

.tab:pressed {
	-fx-background-color: rgb(238, 241, 244);
}

#checkoutButton {
	-fx-background-color: #008F51;
	-fx-background-radius: 5;
}

#checkoutButton:hover {
	-fx-background-color: rgb(0, 180, 114);
}

#checkoutButton:pressed {
	-fx-background-color: rgb(0, 117, 67);
}


#cancelButton {
	-fx-background-color: #DC0000;
	-fx-background-radius: 5;
}

#cancelButton:hover {
	-fx-background-color: #FF5151;
}

#cancelButton:pressed {
	-fx-background-color: #C10000;
}

