.button {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 15;
}

.button:hover {
	-fx-background-color: #F7F9FA;
}

.button:pressed {
	-fx-background-color: rgb(238, 241, 244);	
}

.tab {
	-fx-background-color: #FFFFFF;
}

.tab:hover {
	-fx-background-color: #F7F9FA;
}

.tab:pressed {
	-fx-background-color: rgb(238, 241, 244);
}

#checkoutButton {
	-fx-background-color: #008F51;
	-fx-background-radius: 5;
}

#checkoutButton:hover {
	-fx-background-color: rgb(0, 180, 114);
	-fx-background-radius: 5;
}

#checkoutButton:pressed {
	-fx-background-color: rgb(0, 117, 67);
	-fx-background-radius: 5;
}


#cancelButton {
	-fx-background-color: #DC0000;
	-fx-background-radius: 5;
}

#cancelButton:hover {
	-fx-background-color: #FF5151;
	-fx-background-radius: 5;
}

#cancelButton:pressed {
	-fx-background-color: #C10000;
	-fx-background-radius: 5;
}

#prod1minus {
	-fx-background-color: rgb(211, 224, 235);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod1minus:hover {
	-fx-background-color: rgb(231, 238, 243);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod1minus:pressed {
	-fx-background-color: rgb(158, 188, 211);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod1plus {
	-fx-background-color: rgb(211, 224, 235);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod1plus:hover {
	-fx-background-color: rgb(231, 238, 243);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod1plus:pressed {
	-fx-background-color: rgb(158, 188, 211);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod2minus {
	-fx-background-color: rgb(211, 224, 235);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod2minus:hover {
	-fx-background-color: rgb(231, 238, 243);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod2minus:pressed {
	-fx-background-color: rgb(158, 188, 211);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod2plus {
	-fx-background-color: rgb(211, 224, 235);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod2plus:hover {
	-fx-background-color: rgb(231, 238, 243);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod2plus:pressed {
	-fx-background-color: rgb(158, 188, 211);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod3minus {
	-fx-background-color: rgb(211, 224, 235);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod3minus:hover {
	-fx-background-color: rgb(231, 238, 243);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod3minus:pressed {
	-fx-background-color: rgb(158, 188, 211);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod3plus {
	-fx-background-color: rgb(211, 224, 235);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod3plus:hover {
	-fx-background-color: rgb(231, 238, 243);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod3plus:pressed {
	-fx-background-color: rgb(158, 188, 211);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod4minus {
	-fx-background-color: rgb(211, 224, 235);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod4minus:hover {
	-fx-background-color: rgb(231, 238, 243);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod4minus:pressed {
	-fx-background-color: rgb(158, 188, 211);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod4plus {
	-fx-background-color: rgb(211, 224, 235);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod4plus:hover {
	-fx-background-color: rgb(231, 238, 243);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod4plus:pressed {
	-fx-background-color: rgb(158, 188, 211);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod5minus {
	-fx-background-color: rgb(211, 224, 235);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod5minus:hover {
	-fx-background-color: rgb(231, 238, 243);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod5minus:pressed {
	-fx-background-color: rgb(158, 188, 211);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod5plus {
	-fx-background-color: rgb(211, 224, 235);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod5plus:hover {
	-fx-background-color: rgb(231, 238, 243);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

#prod5plus:pressed {
	-fx-background-color: rgb(158, 188, 211);
	-fx-background-radius: 15;
	-fx-border-color: #000000;
	-fx-border-radius: 15;
}

.toggle-button {
	-fx-base: rgb(231, 238, 243);
	-fx-background-radius: 20;
	-fx-border-color: rgb(86, 138, 177);
	-fx-border-radius: 20;
}

.toggle-button:hover {
	-fx-base: #FFFFFF;
	-fx-background-radius: 20;
	-fx-border-color: rgb(86, 138, 177);
	-fx-border-radius: 20;
}

.toggle-button:pressed {
	-fx-base: rgb(158, 188, 211);
	-fx-background-radius: 20;
	-fx-border-color: rgb(86, 138, 177);
	-fx-border-radius: 20;
}

#okButton {
	-fx-background-color: #008F51;
	-fx-background-radius: 5;
}

#okButton:hover {
	-fx-background-color: rgb(0, 180, 114);
	-fx-background-radius: 5;
}

#okButton:pressed {
	-fx-background-color: rgb(0, 117, 67);
	-fx-background-radius: 5;
}

#exitButton {
	-fx-background-color: #DC0000;
	-fx-background-radius: 5;
}

#exitButton:hover {
	-fx-background-color: #FF5151;
	-fx-background-radius: 5;
}

#exitButton:pressed {
	-fx-background-color: #C10000;
	-fx-background-radius: 5;
}

#exit {
	-fx-background-color: rgb(211, 224, 235);
}

#exit:hover {
	-fx-background-color: rgb(231, 238, 243);
}

#exit:pressed {
	-fx-background-color: rgb(158, 188, 211);
}